<div class="login-container">
  <h2>Iniciar Sesión</h2>
  <form (ngSubmit)="iniciarSesion()" #loginForm="ngForm">
    <div>
      <label for="usuario">Email:</label>
      <input
        type="email"
        id="usuario"
        [(ngModel)]="email" placeholder
        name="usuario"
        required
      />
    </div>
    <div>
      <label for="clave">Clave:</label>
      <input
        type="password"
        id="clave"
        [(ngModel)]="password"
        name="clave"
        required
      />
    </div>
    <button type="submit" [disabled]="isLoading || loginForm.invalid">
      {{ isLoading ? 'Cargando...' : 'Iniciar Sesión' }}
    </button>
  </form>
</div>
