<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>
<br><br>
  <div class="custom-card">
    <h2>Inicio de Sesión</h2>

    <div class="input-slide">
      <ion-label position="floating">Usuario</ion-label>
      <ion-input [(ngModel)]="usuario" type="text"></ion-input>
    </div>

    <div class="input-slide">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input [(ngModel)]="clave" type="password"></ion-input>
    </div>

    <div class="button_slide slide_left" (click)="iniciarSe(usuario, clave)" [class.disabled]="isLoading">
      Iniciar Sesion
      <ion-spinner *ngIf="isLoading"></ion-spinner>
    </div>

    <div class="button_slide slide_left" (click)="irARegistrar()">
      Registrarse
    </div>

    <p class="recuperar" (click)="irARecuperar()">
      ¿Olvidaste tu contraseña?
    </p>
  </div>
<br><br>                 
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">login</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
