<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Registrar Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="onRegister()" #registerForm="ngForm">
    <ion-item>
      <ion-label position="stacked">Nombre de Usuario</ion-label>
      <ion-input
        type="text"
        [(ngModel)]="usuario"
        name="usuario"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input
        type="email"
        [(ngModel)]="email"
        name="email"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Contraseña</ion-label>
      <ion-input
        type="password"
        [(ngModel)]="password"
        name="password"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Rol</ion-label>
      <ion-select [(ngModel)]="rol" name="rol" required>
        <ion-select-option value="Admin">Admin</ion-select-option>
        <ion-select-option value="Mantenimiento">Mantenimiento</ion-select-option>
        <ion-select-option value="Operaciones">Operaciones</ion-select-option>
        <ion-select-option value="Ventas">Ventas</ion-select-option>
        <ion-select-option value="Gerencia">Gerencia</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="registerForm.invalid">
      Registrar
    </ion-button>

  </form>
  <p class="iniciar-sesion" (click)="yatienescuenta()">
    ¿Ya tienes cuenta? Inicia sesión
  </p>
  <br><br>
  <app-footer></app-footer>
</ion-content>
